/* General Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 30px;
    width: 100vw;
}

.container {
    width: 100%;
    padding: 20px;
    height: 100%;
}

.weight-management-card {
    background-color: rgb(232, 231, 231);
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2.5em;
    color: #f8aaee;
    font-weight: bold;
}

.actions button {
    background-color: #d3d3d3;
    /* グレー */
    color: rgb(81, 80, 80);
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #b0b0b0;
    /* グレーの色を少し濃く */
}

/* Goal summary */
.goal-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fffdfd;
    gap: 20px;
}

.goal p {
    font-size: 1.4em;
    margin: 0;
}

/* Search form */
.search-form {
    margin-bottom: 20px;
}

.search input,
.search button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
}

.search button {
    background-color: #d3d3d3;
    /* グレー */
    color: white;
}

.search button:hover {
    background-color: #b0b0b0;
    /* グレーの色を少し濃く */
}

/* Data Table Styling */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.data-table th,
.data-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.1em;
}

.data-table th {
    background-color: #f7f7f7;
}

/* Pagination Styling */
.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination button {
    padding: 10px 15px;
    background-color: #fbd3e9;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.pagination button:hover {
    background-color: #bb377d;
    color: white;
}

/* データ登録ボタンのグラデーション */
.data-entry-btn {
    background: linear-gradient(to right, #ccd5f6, #f58eca, #f5c0d7);
    /* グラデーション */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 10%;
}

.data-entry-btn:hover {
    background: linear-gradient(to right, #f5c0d7, #f58eca, #ccd5f6);
    /* ホバー時にグラデーション反転 */
}

/* 他のボタンのスタイル（検索ボタン、目標体重設定ボタン、ログアウトボタン） */
button,
.btn {
    background-color: #999999;
    /* グレー */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

button:hover,
.btn:hover {
    background-color: #a86da0;
    /* ホバー時に色を変更 */
}
